
.intro{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../login/login_img/윈도우\ 인트로.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(0,-50%);
    box-sizing: border-box;
}

.left{
    position: absolute;
    width: 56%;
    height: 100vh;
}

.logo{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 10px;
    width: 600px;
    height: 350px;
}

.microsoft{
    width: 100%;
    height: 270px;
    background-image: url(../login/login_img/마이크로소프트_로고.png);
}

.left-subtext{
    position: absolute;
    width: 100%;
    height: 47px;
    font-size: 33px;
    color: white;
    font-weight: 400;
    bottom: 40px;
    right: 63px;
}

.right{
    position: absolute;
    right: 0;
    width: 44%;
    height: 100vh;
    margin: 0;
}

.user-bar{
    position: absolute;
    width: 80%;
    height: 120px;
    left: 60px;
    top: 50%;
    transform: translate(0,-50%);
    background-image: url(../login/login_img/윈도우\ 인트로_사용자.png);
    background-repeat: no-repeat;

}

.user-text{
    position: absolute;
    width: 70%;
    height: 145px;
    left: 143px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-text p{
    color: white;
}

.user-title{
    font-size: 34px;
    margin: 0;
    margin-top: 2px;

}

.user-sub{
    font-size: 14px;
    margin: 0;
    margin-top: 13px;
}

.user-inputBtn{
    display: flex;
    justify-content: space-between;
    width: 325px;
}

.user-inputBtn input{
    width: 267px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

.intro-login-btn{
    margin-top: 2px;
    width: 40px;
    height: 40px;
    background-image: url(../login/login_img/윈도우\ 인트로_입력.png);
    cursor: pointer;
}