.btn ul,
li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.textBtn {
  margin-left: 92%;
}

.font {
  margin-left: 380px;
}

#mainWrapper {
  width: 800px;
  margin: 0 auto;
}

#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size: 14pt;
  height: 40px;
  vertical-align: middle;
  line-height: 30px;
}

#ulTable {
  margin-top: 10px;
  text-align: center;
}

#ulTable > li:first-child > ul > li {
  background-color: #c9c9c9;
  font-weight: bold;
  text-align: center;
}

#ulTable > li > ul {
  clear: both;
  padding: 0px auto;
  position: relative;
  min-width: 40px;
  text-align: center;
}
#ulTable > li > ul > li {
  float: left;
  font-size: 10pt;
  border-bottom: 1px solid silver;
  vertical-align: baseline;
  text-align: center;
}

#ulTable > li > ul > li:first-child {
  width: 10%;
}
#ulTable > li > ul > li:first-child + li {
  width: 45%;
}
#ulTable > li > ul > li:first-child + li + li {
  width: 20%;
}
#ulTable > li > ul > li:first-child + li + li + li {
  width: 15%;
}
#ulTable > li > ul > li:first-child + li + li + li + li {
  width: 10%;
}

#divPaging {
  clear: both;
  margin-left: 370px;
  width: 100px;

  height: 50px;
}

#divPaging > div {
  float: left;
  width: 30px;
  margin: 0 auto;
  text-align: center;
}

#liSearchOption {
  clear: both;
}
#liSearchOption > div {
  margin-top: 30px;
  width: auto;
  height: 100px;
}

.left {
  text-align: left;
}
