@font-face {        /* 폰트 - 넥슨 Lv.2 고딕 */
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body{
    font-family: 'NEXON Lv2 Gothic';
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../login/배경화면_초원.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .backbox{
    position: relative;
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 653px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(./배경화면.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .menu{
    width: 256px;
    height: 609px;
    position: relative;
    top: 38px;
    left: 131px;
    display: inline;
  }
  
  .menu .post-order,
  .menu .add,
  .menu .search{
    position: absolute;
    width: 235px;
    left: 50%;
    transform: translate(-50%);
  }
  
  .menu .post-order{
    top: 10px;
    height: 150px;
  }
  
  
  .post-order .postorder-title,
  .add .add-title,
  .search .search-title{
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #4158bd;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  .postorder-title p,
  .add-title p,
  .search-title p{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 0;
  }
  
  .post-order .postorder-sub,
  .add .add-sub{
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: #f0f3fe;
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .post-order .postorder-sub{
    height: 110px;
  }
  
  
  .postorder-sub p,
  .add-sub p{
    font-size: 16px;
    font-weight: 700;
    color: #4158bd;
    margin: 0;
    margin-left: 20PX;
    cursor: pointer;
  }
  
  
  .menu .add{
    top: 190px;
    height: 100px;
  }
  
  .add .add-sub{
    height: 60px;
  }
  
  .menu .search{
    top: 320px;
  }
  
  .search .search-sub{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background-color: #f0f3fe;
    border: 1px solid white;
    box-sizing: border-box;
  }
  
  .search-sub input{
    margin-left: 20px;
    margin-top: 15px;
    width: 140px;
  }
  
  .board-ground{
    position: relative;
    width: 690px;
    height: 567px;
    border: 3px solid forestgreen;
    top: 37px;
    left: 260px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    
  }
  
  .board-ground .board-top{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .board-text{
    width: 700px;
    height: 400px;
    top:100px;
    position: absolute;
    border: 1px solid black;
  
  
    /* display: none; */
  }
  .content{
    top:100px;
    width: 700px;
    position: absolute;
    display: none;
  }
  
  .board-top h1{
    margin: 0;
  }
  
  .board-top span{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 3px solid red;
    cursor: pointer;
  }
  
  .page-nation{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
  }
  
  .page-nation div{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 31px;
    border-radius: 50%;
    /* margin-right: 10px; */
    cursor: pointer;
  }
  
  .page-nation .page-moving{
    background-color: rgba(222, 222, 222, 0.644);
  }
  
  .main-title{
    width: 500px;
    height: 30px;
    float: right;
    border: 1px solid black;
  }
  .title
  {
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  
  .main-content{
    width: 700px;
    height: 300px;
    float: right;
    border: 1px solid black;
  }
  .row1,
  .row2,
  .row3{
    width: 700px;
    
  }
  
  .row3{
    
    text-align: left;
  }
  .submit{
    margin-top: 10px;
  }
  .row1{
    display: flex;
    height: 50px;
  }
  
  .board-title,
  .board-list{
    display: flex;
    /* display: none; */
    
  }
  
  .number,
  .day,
  .list-title,
  .writer,
  .view,
  .sym,
  .em,
  .list{
    height: 34px;
    line-height: 34px;
    border: 1px solid black;
    text-align: center;
  }
  .number{
    width: 50px;
  }
  .day{
    width: 150px;
  }
  .list-title,
  .list{
    width: 300px;
  }
  .writer{
    width: 70px;
  }
  
  .view{
    width: 45px;
  }
  
  .sym{
    width: 45px;
  }
  
  .em{
    width: 45px;
  }
  
  
  .written-row1,
  .written-row2{
      justify-content: space-between;
      line-height: 30px;
      width: 700px;
      height: 30px;
      /* border: 1px solid black; */
      display: flex;
  }
  .written-row2{
    border-top: 1px solid black;
  }
  .vses{
      float: right;
      display: flex;
      text-align: center;
  }
  
  .written-title{
      width: 270px;
      /* border: 1px solid black; */
      text-align: center;
  }
  
  .written-view{
      width: 50px;
      /* border: 1px solid black; */
      text-align: center;
  }
  .written-sym{
      width: 50px;
      /* border: 1px solid black; */
      text-align: center;
  }
  .written-em{
      width: 70px;
      /* border: 1px solid black; */
      text-align: center;
  }
  .written-singo{
      width: 50px;
      /* border: 1px solid black; */
      text-align: center;
  }
  .written-writer{
      width: 80px;
      /* border: 1px solid black; */
      text-align: center;
  }
  .written-day{
      width: 100px;
      /* border: 1px solid black; */
      text-align: center;
  }          
  
  .written-row3{
  
      width: 700px;
      height: 290px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      
  
  }
  .written-row4{
      display: flex;
      width: 700px;
      height: 50px;
      /* border-bottom: 1px solid black; */
      justify-content: space-between;
     
  }
  .rd,
  .se{
      display: flex;
  }
  
  .written-sym2,
  .written-em2,
  .retouch,
  .delete{
      width: 100px;
      /* border: 1px solid black; */
      text-align: center;
      line-height: 50px;
  }
  .written{
    position: absolute;
    width: 700px;
    display: none;
    border: 1px solid black;
    margin-top: 20px;
  }
  .list1{
    cursor: pointer;
  }
.text {
  width: 635px;
}

.text1 {
  width: 635px;
  height: 500px;
}

.btn {
  margin-left: 587px;
}
