@font-face {        
  /* 폰트 - 넥슨 Lv.2 고딕 */
  font-family: 'NEXON Lv2 Gothic';
  src: url('../style/NEXON\ Lv2\ Gothic.woff') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'GmarketSansMedium';
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/배경화면_초원.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.backbox{
  position: relative;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 653px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(./배경화면.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.menu{
  width: 256px;
  height: 609px;
  position: relative;
  top: 38px;
  left: 131px;
  display: inline;
}

.menu .post-order,
.menu .add,
.menu .search{
  position: absolute;
  width: 235px;
  left: 50%;
  transform: translate(-50%);
}

.menu .post-order{
  top: 10px;
  height: 150px;
}


.post-order .postorder-title,
.add .add-title,
.search .search-title{
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #4158bd;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.postorder-title p,
.add-title p,
.search-title p{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0,-50%);
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.post-order .postorder-sub,
.add .add-sub{
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: #f0f3fe;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-order .postorder-sub{
  height: 110px;
}


.postorder-sub p,
.add-sub p{
  font-size: 16px;
  font-weight: 700;
  color: #4158bd;
  margin: 0;
  margin-left: 20PX;
  cursor: pointer;
}


.menu .add{
  top: 43px;
  height: 100px;
}

.add .add-sub{
  height: 60px;
}

.menu .search{
  top: 170px;
}

.search .search-sub{
  position: absolute;
  top: 40px;
  width: 100%;
  height: 220px;
  background-color: #f0f3fe;
  border: 1px solid white;
  box-sizing: border-box;
}
/* 강아지 사진 영역 ------------------------------------------- */
.search-sub .dog1,
.search-sub .dog2{
  width: 130px;
  height: 160px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10px;
}

.search-sub .dog1{
  background-image: url(../img/강아지_대기.gif);
}

.search-sub .dog2{
  background-image: url(../img/강아지_완료.gif);
  display: none;
}

.search-btn{
  cursor: pointer;
}

.dog2.pop{
  display: block;
}


.search-sub input{
  margin-left: 20px;
  margin-top: 15px;
  width: 140px;
}

.board-ground{
  position: relative;
  width: 690px;
  height: 567px;
  top: 37px;
  left: 260px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  
}

.board-ground .board-top{
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.board-text{
  width: 700px;
  height: 400px;
  top:100px;
  position: absolute;
  /* border: 1px solid black; */


  /* display: none; */
}
.content{
  top:100px;
  width: 700px;
  position: absolute;
  display: none;
}

.board-top h1{
  margin: 0;
}

.board-top span{
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 3px solid red;
  cursor: pointer;
}

.page-nation{
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
}

.page-nation .page_btn,.page_btn1{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 31px;
  border-radius: 50%;
  cursor: pointer;
}

.page-nation .page-moving{
  background-color: rgba(222, 222, 222, 0.644);
}

.main-title{
  width: 500px;
  height: 30px;
  float: right;
  border: 1px solid black;
}
.title
{
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.main-content,
.inputContent{
  width: 693px;
  height: 300px;
  float: right;
  border: 1px solid black;
}
.row1,
.row2,
.row3,
.inputContent{
  width: 700px;
}

.row3{
  
  text-align: right;
}
.submit{
  margin-top: 10px;
}
.row1{
  display: flex;
  height: 50px;
}

.board-title,
.board-list{
  display: flex;
  /* display: none; */
}

.number,
.day,
.list-title,
.writer,
.view,
.sym,
.em,
.list{
  height: 34px;
  line-height: 34px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.board-list .list{
  cursor: pointer;
}

.number{
  width: 57px;
}
.day{
  width: 150px;
}
.list-title,
.list{
  width: 300px;
}
.writer{
  width: 70px;
}

.view{
  width: 45px;
}

.sym{
  width: 45px;
}

.em{
  width: 55px;
}


.written-row1,
.written-row2{
    justify-content: space-between;
    line-height: 30px;
    width: 700px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}
.written-row2{
  border-top: 1px solid black;
}
.vses{
    float: right;
    display: flex;
    text-align: center;
}

.written-title{
    width: 400px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-left: 10px;
    /* border: 1px solid black; */
    /* text-align: center; */
}

.written-view{
    width: 80px;
    /* border: 1px solid black; */
    text-align: center;
}
.written-sym{
    width: 80px;
    /* border: 1px solid black; */
    text-align: center;
}
.written-em{
    width: 80px;
    /* border: 1px solid black; */
    text-align: center;
}
.written-singo{
    width: 50px;
    /* border: 1px solid black; */
    text-align: center;
}
.written-writer{
    width: 80px;
    /* border: 1px solid black; */
    text-align: center;
}
.written-day{
    width: 140px;
    /* border: 1px solid black; */
    text-align: center;
}          

.written-row3{

    width: 700px;
    height: 290px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    

}
.writtenContent{
  padding: 15px;
}
.written-row4{
    display: flex;
    width: 700px;
    height: 50px;
    /* border-bottom: 1px solid black; */
    justify-content: space-between;
   
}

.written-row4 .written-sym2,
.written-row4 .written-em2,
.written-row4 .firstRetouch,
.written-row4 .retouch,
.written-row4 .delete,
.back-btn,
.page-num .num{
  cursor: pointer;
}

.rd,
.se{
    display: flex;
}

.written-sym2,
.written-em2,
.retouch,
.delete,
.firstRetouch{
    width: 100px;
    /* border: 1px solid black; */
    text-align: center;
    line-height: 50px;
}
.written{
  position: absolute;
  width: 700px;
  display: none;
  border: 1px solid black;
  margin-top: 20px;
}
.list1{
  cursor: pointer;
}

.written.popup,
.board-text.popup,
.content.popup
{
  display: block;
}

.written,
.board-text,
.content
{
  display: none;
}

.hide{
  display: none;
  /* width: 411px; */
  /* height: 26px; */
}
.page-num{
  display: flex;
  text-align: center;
  line-height: 31px;
}
.num{
  margin: 0 10px;
}

.add-bottom{
  position: absolute;
  width: 90%;
  top: 130px;
  left: 50%;
  transform: translate(-50%);
  height: 400px;
}

.add-top{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 130px;
}

.add-top input{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 500px;
  height: 25px;
  border: 1px solid rgb(179, 179, 179);
}

.add-bottom textarea{
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 230px;
  border: 1px solid rgb(179, 179, 179);
  vertical-align: top;
  resize: none;
}

  .content .triangle{
  position: absolute;
  top: 24px;
  left: 30px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid darkblue;
  border-right: 7px solid darkblue;
}

  .content .add-sub{
  position: absolute;
  top: 15px;
  left: 58px;
  font-size: 20px;
  color: darkblue;
  margin: 0;
  
}

  .content .addtop-line{
  position: absolute;
  top: 30px;
  right: 40px;
  width: 55%;
  box-sizing: border-box;
  border: 1px solid darkblue;
}

.content .addinput-title{
  position: absolute;
  top: 70px;
  left: 38px;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 3px;
}

.submit,
.updateBtn{
  width: 80px;
  height: 30px;
  font-size: 17px;
  line-height: 30px;
  /* font-weight: 700; */
  letter-spacing: 2px;
  text-align: center;
  border-radius: 10px;
  bottom: -480px;
  position: absolute;
  right: 64px;
  cursor: pointer;
  background-image: url(./게시판_등록\ 버튼.png);
}

/* .submit
{
  right: 145px;
} */